<launch>
  <group ns="turtlesim1">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop_key" launch-prefix="gnome-terminal -e" />
  </group>
  <group ns="turtlesim2">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop_key" launch-prefix="gnome-terminal -e" />
  </group>
</launch>

